@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 90px;
  width: 90%;
  background: #0c360c;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 60px;
  width: 65%;
  background: #938a13;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #3c1006;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 70px;
  background: #5a5654;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 50px;
  width: 90%;
  background: #451c0da9;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #051703;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #dc8ed1;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 50px;
  width: 90%;
  background: #af700bba;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #eaeaea;
  border-radius: 20px 20px 200px 200px;
}
